name: Deploy svelte application

on: 
  push:
    branches:
      - main

jobs:
  Deploy:
    name: Deploy project
    runs-on: ubuntu-latest
    steps:
      - name: Start build
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install packages
        run: npm install
      - name: Build project
        run: npm run build
      - name: Deploy project
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist